{% extends "main.html" %}

{% block content %}

    <div class="details-container">
        <h1 class="page-title">Event Details Preview</h1>

        <div class="event-details">
            <p class="detail-item"><strong>Host:</strong> {{ event_data.host }}</p>
            <p class="detail-item"><strong>Event Title:</strong> {{ event_data.title }}</p>

            {% if picture_url %}
            <div class="profile-picture">
                <img src="{{ picture_url }}" alt="Event Picture">
            </div>
        {% endif %}

            <p class="detail-item"><strong>Event Description:</strong></p>
            <p class="detail-item-description">{{ event_data.description }}</p>
            <div class="details-row">
                <div class="detail-item">
                    <strong>People Joined/Maximum:</strong>
                    <p>{{ event_data.participants.count|default:"0"}}/{{ event_data.maxPeople }}</p>
                </div>
                <div class="detail-item">
                    <strong>Event Date:</strong>
                    <p>{{ event_data.date|date:"m/d/Y" }}</p>
                </div>
            </div>
            <div class="detail-item">
                <strong>Topics:</strong>
                <div class="topics-container">
                    {% for topic in topics.all %}
                        <span class="topic-label-details">{{ topic }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="event-actions">
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="create-event-btn">Create Event</button>
        </form>
    </div>
{% endblock content %}
