{% extends "main.html" %}
{% load static %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <div class="edit-bio-container">
        <h2>Edit Your Profile</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}


           

            <!-- Upload New Profile Picture -->
            <div class="form-group">
                <label for="profile_picture">Change Profile Picture</label>
                {{ form.profile_picture }}
            </div>

            <!-- Edit Bio -->
            <div class="form-group">
                <label for="bio">Bio</label>
                {{ form.bio }}
            </div>
            
            <!-- Save Changes Button -->
            <div class="form-group">
                <button type="submit" class="submit-btn">Save Changes</button>
            </div>
        </form>
    </div>
</body>
{% endblock content %}





