{% extends "main.html" %}

{% block content %}
<h2 class="basic-info">Edit Event: Basic Info</h2>

<div class="input-event">
    <h4>Host: {{ request.user.username }}</h4>
    <form method="POST" action=".">
        {% csrf_token %}

        <div class="form-group-title">
        {{ form.title.label_tag}} 
        {{ form.title }} 
        </div>

        <div class="form-group-description">
            {{ form.description.label_tag}} 
            {{ form.description }} 
        </div>

        <div class="people-date">

        <div class="form-group-people">
            {{ form.maxPeople.label_tag}} 
            {{ form.maxPeople }} 
        </div>

        <div class="form-group-date">
            {{ form.date.label_tag}} 
            {{ form.date }} 
        </div>

        </div>
        <button type="submit" class="btn-next">Next</button>
    </form>
</div>
{% endblock content %}
