{% extends "main.html" %}

{% block content %}

<h2>My Events</h2>

<div class="my-events-page">
    {% for event in myevents %}
    <div class="card">

        <div class="triangle"> </div>

        <div class="card-header">
            <a href=" {% url 'event-details' event.id %}">
            <h2 class="card-title">{{ field_titles.title }}: {{ event.title }}</h2>
        </a>
        </div>
        <div class="card-body">
            <p><strong>{{ field_titles.host }}:</strong> {{ event.host }}</p>
            <p><strong>{{ field_titles.description }}:</strong> {{ event.description }}</p>
            <p><strong>{{ field_titles.date }}:</strong> {{ event.date|date:"d-m-Y" }}</p>
            <p><strong>{{ field_titles.maxPeople }}:</strong> {{ event.maxPeople }}</p>
            
            <p><strong>{{ field_titles.topics }}:</strong>
                {% for topic in event.topics.all %}
                    {{ topic.name }}{% if not forloop.last %}, {% endif %}
                {% empty %}
                    No topics assigned.
                {% endfor %}
            </p>

            <!-- Added a class for styling the button -->
            <a href="{%url 'edit-event' pk=event.id%}">
                <button class="edit-button">Edit Event</button>
            </a>
            <a href="{% url 'delete-event' pk=event.id%}">
                <button class="edit-button">Delete Event</button>
            </a>
        </div>
    </div>
    {% empty %}
    <p class="no-events">No events found.</p>
    {% endfor %}
</div>

{% endblock content %}


