{%load static%}
  <!--Think how to change navbar-->
</head>
<body>

  <nav class="navbar">
    
    <!-- Logo -->
    <a href="{%url 'home'%}"  class="logo">
      Lyfevents
    </a>
    
    <!-- Navigation Links -->
    <div class="nav-links">
      <a href="{% url  'home' %}">Home</a>
      <a href="{% url  'create-event' %}">Create an Event</a>
      <a href="{% url  'events' %}">Events</a>
      <a href="{% url  'calendar' %}">Calendar</a>

      {% if user.is_authenticated %}
        <a href="{% url 'myEvents' %}">My Events</a>
      {% endif %}


      
    </div>
    
    
    {% if user.is_authenticated %}
      <a href="{% url 'profile' %}">
        <img src="{% if user.profile.profile_picture %}{{ user.profile.profile_picture.url }}{% else %}{% static 'default_user.jpg' %}{% endif %}" alt="Profile" style="width: 50px; height: 50px; border-radius: 50%;">
      </a>
    {% else %}
      <!-- Optionally show a default or placeholder image if not authenticated -->
      <a href="{% url 'login' %}">
        <img src="{% static 'default_user.jpg' %}" alt="Login" style="width: 50px; height: 50px; border-radius: 50%;">
      </a>
    {% endif %}
  </nav>

</body>
</html>
