{%load static%}
  <!--Think how to change navbar-->
</head>
<body>

  <nav class="navbar">
    
    <!-- Logo -->
    <a href="{%url 'home'%}"  class="logo">
      Freaky App
    </a>
    
    <!-- Navigation Links -->
    <div class="nav-links">
      <a href="{% url  'home' %}">Home</a>
      <a href="{% url  'create-event' %}">Create an Event</a>
      <a href="{% url  'events' %}">Events</a>
      <a href="{% url  'home' %}">Calendar</a>
      
    </div>
    
    
    <form action="{% url 'profile' %}" method="get">
      <button class="cta">Profile</button>
    </form>

  </nav>

</body>
</html>
